@import "../../styles/variaveis";

@media (min-width: 378px) {
.tags {
  width: 88vw;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: $cor-do-texto;
  font-family: $fonte-normal;
  font-size: 16px;

  p {
    font-size: 1.25rem;
  }

  &__lista {
    list-style: none;
    width: 380px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;

    li {
      background-color: $tag-color;
      padding: 6px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
}
@media (min-width: 768px) {
  .tags{
    width: 83vw;
    &__lista{
      gap: 0;
    }
  }
}
@media (min-width: 1280px) {
  .tags{
    width: 80vw;
  }
}