@import "../../styles/variaveis";

  @media (min-width: 378px) {
    main {
      margin: 0 24px;
    }
    
    .principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
      &__imagem {
        width: 88%;
        img {
          width: 100%;
          height: 150px;
        }
    
        position: relative;
    
        h1 {
          font-family: $fonte-bold;
          position: absolute;
          z-index: 1;
          font-size: 1.5rem;
          width: 200px;
          color: white;
          text-shadow: -5px 5px 11px #000000;
          height: 144px;
          top: 15px;
          left: 15px;
        }
      }
    }
    .conteudo {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 1rem;
    }
  }

  @media (min-width: 768px) {
    
  }

  @media (min-width: 1280px) {
    .principal {
      flex-direction: row;
      margin-top: 2rem;

      &__imagem {
        img{
          height: 288px;
        }
      }
      
      h1 {
      font-size: 2.5rem;
      width: 401px;
      top: 75px;
      left: 44px;
    }

    }
    .conteudo{
      margin-left: 17%;
    }
   
  }