.formulario {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 50px;
}

.formulario form {
  max-width: 80%;
  flex: 1;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
  padding: 36px 64px;
}
